.card{
    width: 220px;
    height: 321px;
    display: flex;
    flex-direction: column-reverse;
    position: relative;
    background-color: rgb(221, 221, 221);
    
    .card_block{
        width: 220px;
        height: 270px;
        border-radius: 30px;
        background-color: rgb(255, 255, 255);
        display: flex;
        flex-direction: column;
        align-items: center;
        h3{
            font-size: 28px;
            margin-top: 150px;
            margin-bottom: 0px;
            color: black;
        }
        h4{
            margin-top: 2px;
            color: rgb(254, 55, 55);
        }
    }
    .curcle{
        border-radius: 50%;
        background-color: aqua;
        width: 164px;
        height: 164px;
        position: absolute;
        top: 5%;
        left: 12.5%
    }
}