.FP{
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    padding-top: 60px;
    color: white;
    font-size: 38px;
    background-color: rgb(255, 65, 65);
    height: 815px;
    width: 100%;
    margin: 0;
    padding-left: 51px;
    justify-content: space-between;
}