<header>
    <div class="container">
        <div class="logo">
            <img src="@@img.webp">
            <h2>@@LogoText</h2>
        </div>
        <nav >
            <ul class="taskbar">
                <li>Home</li>
                <li>Home</li>
                <li>Home</li>
                <li>Home</li>
                <li>Home</li>
                <li>Home</li>
            </ul>
        </nav>

        
        @@include('./_button.html',{
        "text": "Contact us"
        })
        
    </div>

</header>