<div class="p3">
    <div class="top_bar">
        <img src="assets/images/v1.webp" width="24px">
        <img src="assets/images/v2.webp" width="24px">
    </div>
    <div class="textbox">
        <h1>Delicious 
            food for you</h1>
    </div>
    
    @@include('../components/_searchbar.html',{})
    <div class="More">
        <h4>see more</h4>
    </div>
    <div class="cont">
        @@include('../components/_card.html',{
        "img": "assets/images/card1.webp",
        "text": "Veggie tomato mix",
        "price": "N1,900"
        })
        @@include('../components/_card.html',{
        "img": "assets/images/card2.webp",
        "text": "Spicy fish <br>sauce",
        "price": "N2,300.99"
        })
    </div>
    <div class="top_bar">
        <img src="assets/images/b1.webp" width="24px">
        <img src="assets/images/b2.webp" width="24px">
        <img src="assets/images/b3.webp" width="24px">
        <img src="assets/images/b4.webp" width="24px">
    </div>
</div>