<div class="SP">
    <div class="header">
        <div class="buttons">
            <h3>Login</h3>
            <h3>Sign-up</h3>
        </div>
        <img src="assets/images/logo.webp" alt="dfg" width="180px">
    </div>

    <div class="footer">
        @@include('./_buttonWhite.html',{
            "text": "Login"
            })
        <div class="log-panel">
            <input type="email" placeholder="Email address" required>
            <input type="password" placeholder="Password" required>
            <a href="#" class="forgot-password">Forgot passcode?</a>
            
        </div>
        
    </div>
</div>